#predict{
    position: relative;
    top: 50%;
    left: 45%;
    background-color: hsl(122, 39%, 49%); /* Green */
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} 
#predict:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: white;
}
#result{
  padding: 20px;
  margin-top: 30px;
  position: relative;
  top: 50px;
  border: 3px dashed black;
  height: 220px;
}

#predicted>span{
  background-color:#d6f5f9;
  color: blue;
  border: 2px dashed #b37272;
  font-size: 18px;
  padding-right: 5px !important;
}

#orignal>span{
  background-color: #9ba863;
  color: white;
  font-size: 20px;
}

#predicted{
  float: left;
}